body {
    background: url('img/grapes.png') center/cover no-repeat;
    margin: 0;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
}

.header {
    display: flex;
    justify-content: space-between;
    text-align: start;
    color: #333;
}

.header h1 {
    font-size: 2.5em;
    margin-left: 2%;
    padding: 2%;
    font-family: 'Arial', sans-serif;
    margin-bottom: 5%;
}

.header h2 {
    font-size: 2em;
    margin-left: 2%;
    padding: 2%;
    font-family: 'Arial', sans-serif;
    margin-bottom: 5%;
}

.invitation-general {
    margin-left: 5%;
    font-size: 2.5em;
    padding: 2%;
    font-family: 'Arial', sans-serif;
    margin-bottom: 5%;
}

.content {
    margin: 10%;
    width: 80%;
    font-size: 20pt;
}

.invitation-text {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: -15%;
}

.fedor-grapes {
    position: relative;
    width: 25%;
    margin-top: -10%;
}

.alisa-grapes {
    width: 25%;
    top: 0;
    right: 0;
}

.fedor-alisa-kirgyz {
    position: absolute;
    width: 15%;
    top: 60%;
    left: 50%;
}

.chaika {
    position: absolute;
    width: 10%;
    top: 70%;
    left: 35%;
}

.palace-doge {
    position: absolute;
    width: 12%;
    top: 3%;
    left: 45%;
}


.budapest {
    position: absolute;
    width: 19%;
    top: 71%;
    left: 73%;
}

